@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* #4d89e4 */

html{
  box-sizing: border-box;
  background-color: #0a192f;
  scroll-behavior: smooth;
  transition: 1s all ease-in-out;
  
}
*{
  box-sizing: inherit;
  font-family: 'Kanit', sans-serif;
  animation-name: all;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

}
body{
  width: 100%;
  margin: 0 auto;
  color:#fefefe;
  overflow-x: hidden;
  min-width: 300px;
}
/* navigation */
#MainNavigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}
#MainNavigation img{
  width: 100px;
}
#MainNavigation ul{
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#MainNavigation ul li{
  list-style: none;
  padding-left: 20px;
 
}

#MainNavigation ul li a{
  text-decoration: none;
  color: #fefefe;
  transition: all 0.5s ease-in-out;

}
#MainNavigation ul li a:hover{

  color: #a4c8ff;
  border-bottom: 2px solid #a4c8ff;

}

/* main */
main{
  padding: 0px 150px;
}
#introduction{
  max-width: 1000px;
  margin: 0 auto;
}
.introductionOfMe{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.heading{
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  color: #4d89e4;
}
.headingWhatIDO{
  margin: 0px;
  font-size: clamp(38px, 6vw, 62px);
  color:#a4c8ff;
}
#linkSeparator{
  margin-bottom: 30px;
}
.contactLink{
 text-decoration: none;
 color: #fefefe;
 border: 2px solid #fefefe;
 border-radius: 10px;
 padding: 10px 35px;
}
.contactLink:hover{
  color: #a4c8ff;
 border: 2px solid #a4c8ff;
 border-radius: 10px;
 padding: 10px 35px;
}
#flying-bubbles{
  position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

/* end main */
/* about me */
#AboutMario{
  max-width: 1250px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}

.graduation-photo img{
  width: 450px;
  border-radius: 10px;
  transform: translate(30px, 11px);
}
.wraper{
  position: relative;
  
}
.graduation-photo::after{
  content: "";
  position: absolute;
  border: 2px solid #4d89e4;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -10;
}
.about-text{
  padding: 30px;
  background-color: rgba(17,34,64, 0.6);
  z-index: 10;
  border-radius: 10px;
}
.about-text p{
  width: 63ch;
}
/* about me end */

/* what i do */


.whatIDo{
  margin-top: 100px;
}
.whatIDo h3{
  text-align: center;
  font-size: clamp(38px, 4vw, 48px);

}
.containerServices{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
 
}
.serviceCard{
  margin-left: 10px;
  padding: 20px;
  background-color: rgba(2,12,27,0.7);
  border-radius: 10px;
  border-bottom: 2px solid #4d89e4;
}
.serviceCard p{
  width: 30ch;
}
.serviceCard  img{
  width: 80px;
}


.process h3{
  text-align: center;
  font-size: clamp(38px, 4vw, 48px);
}
.containerCard{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.serviceCardProcess{
  margin: 0 auto;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgba(2,12,27,0.7);
  border-radius: 10px;
  border-bottom: 2px solid #4d89e4
}
.serviceCardProcess img{
  width: 24px;
}
.textCreated{
  text-align: center;
}
.created-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}
.img-created-border{
  border: 1px solid #4d89e4;
}
.img-created-border::after{
  content: "";
  background-color: #4d89e4;
}
.img-created-border-right{
  border: 1px solid #4d89e4; 
}
.textCreatedSite{
  width: 50ch;
  background-color: rgba(2,12,27,0.7);
  border-radius: 10px;
  transform: translateX(-25px);
  padding: 30px;
}
.righttext{
  transform: translateX(25px);
  z-index: 1;
}
.linkBtn{
  text-decoration: none;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 10px;
  padding: 10px 15px;


}
.linkBtn:hover{
  text-decoration: none;
  color: #fefefe;
  background-color: #4d89e4;
  border: 1px solid #4d89e4;
  border-radius: 10px;
  padding: 10px 15px;
  
}
#Created h4{
  font-size: 18px;
  margin-bottom: 10px;

}

.Eltario{
  background-image: url(../images/Eltario\ Shop.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(25px, 10px);
  transition: 1.5s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.Eltario:hover{
  cursor: pointer;
  background-image: url(../images/Eltario\ Shop.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px;
}
.netbit{
  background-image: url(../images/netbit.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(25px, 10px);
  transition: 1s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.netbit:hover{
  cursor: pointer;
  background-image: url(../images/netbit.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px;
}

.dataLinking{
  background-image: url(../images/data-linking.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(-25px ,10px);
  transition: 1s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.dataLinking:hover{
  cursor: pointer;
  background-image: url(../images/data-linking.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px;
}
.Nature{
  background-image: url(../images/nature.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(25px, 10px);
  transition: 2.5s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.Nature:hover{
  cursor: pointer;
  background-image: url(../images/nature.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px;
}
.digitalMarketing{
  background-image: url(../images/digital\ marketing1.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(25px, 10px);
  transition: 1.8s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.digitalMarketing:hover{
  cursor: pointer;
  background-image: url(../images/digital\ marketing1.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px;
}
.Olea{
  background-image: url(../images/Ollea-project3.png);
  box-shadow:inset 0 0 0 100px rgba(2,12,27,0.5);
  transform: translate(25px, 10px);
  transition: 1.8s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
}
.Olea:hover{
  cursor: pointer;
  background-image: url(../images/Ollea-project3.png);
  box-shadow:inset 0 0 0 0px rgba(2,12,27,0.5);
  transform: translate(0px, 0px);
  background-position: bottom;
  width: 400px;
  height: 350px
}
#ContactMe{
  text-align: center;
}
#ContactMe h2{
 
    font-size: clamp(38px, 4vw, 48px);
}
.contactMeDevider{
  margin-bottom:50px;
  margin-top: 50px;
}
#mailToMe{
  text-decoration: none;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 10px;
  padding: 10px 35px;
  margin-bottom: 50px;
}
#mailToMe:hover{
  color: #4d89e4;
  border: 1px solid #4d89e4;
}
.devider-paragraph{
  margin-bottom: 40px;
}
.social-media{
  width: 40px;
  position: fixed;
  bottom: 0%;
  left: 40px;
  z-index: 10;
  align-items: flex-start;
}
.socialMedia{
  list-style: none;
  bottom: 12%;
  left: 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 0;


}
.socialMedia a{
  text-decoration: none;
  color: #fefefe;
  font-size: 24px;
  margin-bottom: 10px;
}
.socialMedia a:hover{
  text-decoration: none;
  color:#4d89e4;
  font-size: 24px;
}
.email{
  width: 40px;
  position: fixed;
  bottom: 0%;
  right: 40px;
  z-index: 10;
}
.after-line{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.email a{
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
  color: #fefefe;
  writing-mode: vertical-lr;
}
.email a:hover{
  
  color: #4d89e4;
}
.after-line::after{
  content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
  background-color: #fefefe;
}
/* javascript reveal function */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/* end */